.btn-accept{
  border-radius: 12px;
}
.modal-content{
  width: 500px;
  height: 400px ;
  background-color: aquamarine;
  
}
.flex-start{
  display: flex;
  justify-content: start;
  padding: 10px;
}
/* Modal Background with Backdrop Blur */
.modal-background {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  backdrop-filter: blur(2px); /* Blur effect */
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal Box */
.modal-content {
  width: 500px;
  height: 400px;
  background: rgba(228, 222, 222, 0.2); /* Transparent white */
  backdrop-filter: blur(4px); /* Apply blur effect */
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  position: relative;
  color: white;
}